use flake

# Python setup
layout_python_uv() {
  if [ ! -d $PWD/.venv ]; then
    uv venv .venv
  fi
  source .venv/bin/activate
}

export VIRTUAL_ENV=$PWD/.venv
layout_python_uv


export POSTGRES_USER=coffee-rt
export POSTGRES_PASSWORD=coffee-rt_password
export POSTGRES_DB=coffee-rt
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_SCHEMA=coffee_rt

export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_URL=redis://localhost:6379
