apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "flink.fullname" . }}-config
  labels:
    {{- include "flink.labels" . | nindent 4 }}
data:
  flink-conf.yaml: |
    jobmanager.rpc.address: {{ include "flink.fullname" . }}-jobmanager
    jobmanager.rpc.port: 6123
    jobmanager.memory.process.size: {{ .Values.jobmanager.resources.limits.memory }}
    taskmanager.memory.process.size: {{ .Values.taskmanager.resources.limits.memory }}
    taskmanager.numberOfTaskSlots: {{ .Values.taskmanager.taskSlots }}
    parallelism.default: 1

  log4j-console.properties: |
    rootLogger.level = INFO
    rootLogger.appenderRef.console.ref = ConsoleAppender
    appender.console.name = ConsoleAppender
    appender.console.type = Console
    appender.console.layout.type = PatternLayout
    appender.console.layout.pattern = %d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n
    logger.flink.name = org.apache.flink
    logger.flink.level = INFO
    logger.kafka.name = org.apache.kafka
    logger.kafka.level = WARN
